/* ---стилизация иконки сердечка --- */

.like-icon.is-liked .core {
  fill: var(--animation-like-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-like-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-like-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s 0.3s ease-in;
}

@keyframes sparksAnimation {
  0% {
    fill: white;
  }
  50% {
    fill: var(--animation-like-color);
  }
  100% {
    fill: white;
  }
}

.like-icon.is-liked {
  animation: likeAnimation 0.3s 0.1s ease-in;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


