.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background);
  background-position: center;
  background-attachment: fixed;
  font-family: var(--base-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px;
}

.header {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  background-color: white;
  border: 2px solid black;
  gap: 20px;
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: var(--font-weight-medium);
  padding-top: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  padding-bottom: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.header__logo-text {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* --- основной контент сайта ---*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
}

.card {
  inline-size: 100%;
  max-inline-size: 700px;
  background-color: white;
  border: 2px solid black;
}

.card_title {
  font-family: var(--base-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px;
  line-height: 21.78px;
  padding: 5px 10px 4px;
  border-bottom: 2px solid black;
}

.card_image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
  object-fit: cover;
  display: block;
}

.card__description-container {
  border-top: 2px solid black;
  padding: 25px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--base-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-medium), 'wdth' 200;
  font-size: 18px;
  line-height: 21px;
}

/* --- лейбл в карточке --- */

.cart__image-label {
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  position: absolute;
  inset-block-start: clamp(1.4375rem, 1.3645rem + 0.3115vw, 1.5rem);
  inset-inline-end: clamp(0.8125rem, 0.0093rem + 3.4268vw, 1.5rem);
  text-transform: uppercase;
  text-shadow:
  -1px 0 #FFFFFF, 
  0 1px #FFFFFF, 
  1px 0 #FFFFFF,
  0 -1px #FFFFFF;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.card__image-container {
  position: relative;
}

@supports((text-stroke: 1px #FFFFFF) or (-webkit-text-stroke: 1px #FFFFFF)) {
  .cart__image-label {
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    text-shadow: none;
  }
}

/* --- набор фильтров --- */

.saturate_filter {
  filter: saturate(300%);
}

.blur_filter {
  filter: blur(5px);
}

.sepia_filter {
  filter: sepia(50%);
}

.invert_filter {
  filter: invert(0.7);
}

.grayscale_filter {
  filter: grayscale(0.9);
}

.opacity_filter {
  filter: opacity(0.5);
}

.mix_filter {
  filter: saturate(800%) opacity(0.5) sepia(60%) invert(0.7);
}

.contrast_filter {
  filter: contrast(200%);
}

/* --- кнопка like --- */

.card__buttons-container {
  padding: 25px 25px 24px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__like-button {
  min-inline-size: 130px;
}

.button {
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  background-color: white;
  border: 2px solid black;
  outline: none;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* --- псевдоэлемент для кнопки like --- */

.button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  background-color: black;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -100%;
  transition: left 0.5s ease-in-out;
} 

.button:hover::before {
  inset-inline-start: 0;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px black;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: white;
}

/* --- кнопка, окутывающая иконку сердечка --- */

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid black;
}

/* --- стилизация иконки сердечка ---*/

.core {
  transition: fill 0.3s;
}

.main-body {
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--base-like-color);
}

.like-icon:hover .core {
  fill: var(--base-like-color);
}

.like-icon:not(:hover) .core {
  transition: fill 0.3s 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition: fill 0.3s;
}

.like-icon:active .core {
  fill: var(--animation-like-color);
}

.like-icon:active .main-body {
  fill: var(--animation-like-color);
}

/* --- футер --- */

.footer__button {
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-inline-size: 700px;
  background-color: white;
  margin-bottom: 102px;
}

@media (width <= 375px) {
  .footer__button {
    max-inline-size: 311px;
  }
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 0px black;
}

.footer__button-text {
  position: relative;
  mix-blend-mode: difference;
  color: white;
}

.disketa__icon {
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

@media (width <= 375px) {
  .disketa__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}  

.disketa__icon-modal {
  mix-blend-mode: difference;
  inline-size: 39px;
  block-size: 39px;
}

/* --- всплывающее окно --- */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

dialog[open] {
  padding: 30px;
  border: 2px sold black;
  box-sizing: border-box;
}

@media (width <= 375px) {
  dialog[open] {
    padding: 30px 38px;
  }
}

.dialog__content-text {
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 21px;
  inline-size: 229px;
  text-transform: uppercase;
}

.dialog__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog_button {
  margin-block-start: 30px;
  inline-size: 100%;
  text-transform: uppercase;
  padding: 9px 0px;
}

.dialog_button:focus-visible {
  box-shadow: 2px 2px 0px 0px black;
}